[submodule "network-project-frontend"]
	path = network-project-frontend
	url = git@github.com:700-38/network-project-frontend.git

[submodule "network-project-backend"]
	path = network-project-backend
	url = git@github.com:700-38/network-project-backend.git
