@tailwind base;
@tailwind components;
@tailwind utilities;


/* project_black: '#1d1e20',
project_white: '#ffffff',
project_gray: '#3f4041',
project_light_gray: '#848486', */

* {
  scrollbar-width: thin;
  scrollbar-color: #848486 #3f4041;
}

*::-webkit-scrollbar {
  width: 8px;
  padding-right: 2px;
}

*::-webkit-scrollbar-track {
  background: #3f4041;
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: skyblue;
  border-radius: 14px;
  /* border: 1px solid red */
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translateY(-4px);
  }
}

.animate-bouncing-loader {
  animation: bouncing-loader 0.6s infinite alternate;
}